* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    color: #333;
    background: linear-gradient(135deg, #6a9c9c, #4f7c7c);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login {
    background: #fff;
    border-radius: 12px;
    padding: 35px 30px;
    width: 300px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.2);
}

.inputs {
    margin-bottom: 15px;
}

.inputs input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc; /* más suave */
    border-radius: 6px;
    outline: none;
    transition: 0.3s;
}

.inputs input:focus {
    border-color: #1fa2b6;
    box-shadow: 0 0 5px rgba(31,162,182,0.4);
}

.login button {
    background-color: #1fa2b6;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    border-radius: 6px;
}

.login button:hover {
    background-color: #178a99;
    box-shadow: 0 5px 12px rgba(0,0,0,0.2);
}
.registro {
    display: block;
    margin-top: 10px;
    text-align: center;
    padding: 10px;
    border: 2px solid #1fa2b6;
    border-radius: 6px;
    color: #1fa2b6;

}

.registro:hover {
    background: #1fa2b6;
    color: white;
}
.login a{
    text-decoration: none;
}